*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
      height: 100vh;
      background-image: url("/img/laptop-phone.jpg") ;
      background-repeat: no-repeat;
      background-size: cover;
      display : flex;
      justify-content: center;
      align-items: center;
      
}
.container{
      background-color: rgba(255, 255, 255, 0.847);
      transition: box-shadow 0.3s;
      box-shadow: 0px 0px 5px rgba(246, 243, 242, 0.435);
      border-radius: 50px;
      padding: 50px;
      width: 60%;
}
.container:hover{
    box-shadow:0px 0px 10px rgb(249, 246, 246);;
}
.heading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center
}
#box{
   margin-top: 20px;
}
.faq-container{
    /* border: solid red; */
    border-bottom: 1.5px solid rgb(139,69,19,1);
    height: 2.5rem;
    overflow: hidden;
    margin: 20px 0;
    transition: 0.3s;
}
.active{
    height: 8rem;
}
.question{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.q{
   flex: 1;  
}
.btn{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: solid burlywood;
    border-radius: 0.3rem;
    background-color: transparent;
    height: 2rem;   
    display: flex;
    cursor: pointer;
}